COMPOSE_PROJECT_NAME=proxmox-monitoring
TZ=Asia/Dhaka

GRAFANA_IMAGE=grafana/grafana:12.0.0
PROMETHEUS_IMAGE=prom/prometheus:v3.4.1
ALERTMANAGER_IMAGE=prom/alertmanager:v0.28.1
BLACKBOX_EXPORTER_IMAGE=prom/blackbox-exporter:v0.26.0
PROXMOX_EXPORTER_IMAGE=prompve/prometheus-pve-exporter:latest
CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor:v0.52.1

GRAFANA_HTTP_PORT=3000
PROMETHEUS_HTTP_PORT=9090
ALERTMANAGER_HTTP_PORT=9093
BLACKBOX_HTTP_PORT=9115
PROXMOX_EXPORTER_HTTP_PORT=9221
CADVISOR_HTTP_PORT=8080

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-now
GRAFANA_DOMAIN=on-prem.jatritech.com
GRAFANA_ROOT_URL=https://on-prem.jatritech.com/

